<ion-view title="Simple Time Table" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="simpleTimeTable-form3" class="list">
      <label class="item item-select" id="simpleTimeTable-select2" name="viewDay">
        <span class="input-label">Select Day</span>
        <select id="viewDay">
          <option value="Sunday">Sunday</option>
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
        </select>
      </label>
     
	  <!--<ion-scroll scrollX="true"><ion-item id="simpleTimeTable-list-item10"></ion-item> </ion-scroll>-->
	   

    <div style="" id="simpleTimeTable-list-item10" class="item item-body"></div>
	 

   
    </form>
    <button id="simpleTimeTable-button2" class="button button-positive button-block">View Activity</button>
  </ion-content>
</ion-view>